.App {
  text-align: center;
  margin: 20px;
}

.tile-white {
  /*border: solid 1px lightgray;*/
  width: 100px;
  height: 100px;
  font-size: 20px;
  background: white;
}

.tile-gray {
  border: solid 1px lightgray;
  width: 100px;
  height: 100px;
  font-size: 40px;
  background: rebeccapurple;
  color: white;
}

.container {
  border: solid 1px gray;
  width: 401px;
  height: 401px;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
